/* */

body {
    background: #272b30;
    font-family: Calibri;
    padding: 0;
    margin: 0;
    max-width: 1200px;
}

h1 {
    color: #ffffff;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.6em;
    padding-left: 7px;
}

.head .title {
    display: flex;
    margin: auto;
}

.head .title a {
    margin-left: 50px;
    vertical-align: middle;
}

.head_team {
    padding: 10px;
}

.content {
    display: flex;
    margin: 10px;
    margin-top: 20px;
}

.hero_list {
    flex: 75%;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.hero_button {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 1px solid black;
}

.hero_button img {
    width: 95px;
    height: 53px;
}

.hero_button.grayed {
    background: #000;
}

.hero_button.grayed img {
    opacity: 0.25;
}

.hero_list .hero_button:not(.grayed):hover {
   cursor: pointer;
   border-color: #0081ff;
   background: #0081ff;
}

.hero_list .hero_button:not(.grayed):hover img {
    opacity: 0.5;
 }

.selected_hero_list .hero_button:hover {
    cursor: pointer;
    border-color: red;
    background: red;
 }

 .selected_hero_list .hero_button:hover img {
    opacity: 0.5;
 }

.hero_button img {
    display: block;
}

.selected_hero_list {
    width: 485px;
    height: 55px;
    background: #4d4d4d;
    margin-bottom: 25px;
}

.input_filter, .button_clear {
    font-size: 1em;
}

ul.tag_select {
    user-select: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul.tag_select li {
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    background: #4f5762;
    padding-left: 15px;
    padding-right: 15px;
}

ul.tag_select li:hover {
    background: #002569;
    cursor: pointer;
    color: #ffffff;
}

ul.tag_select li.selected {
    background: #004ad3;
    color: #ffffff;
}

.lineup_stats {
    flex: 25%;
}

.lineup_stats p {
    margin: 5px;
    color: #c0ffac;
}

.lineup_stats .bars {
    width: 150px;
}

.progress_bar {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    height: 5px;
    border-radius: 2px;
    background: #1d1d1d;
}

.progress_bar .bar {
    width: 0%;
    height: 100%;
    background: rgb(49, 204, 1);
}

.tabs {
    display: flex;
    margin: 0;
    padding: 0;
    background: #1d2024;
}

.tabs li {
    display: block;
    margin: 0;
    padding: 10px;
    color: #ffffff;
}

.tabs li:hover {
    cursor: pointer;
}

.pos_column {
    margin-right: 5px;
    padding: 2px;
}

.pos_column.selected, .pos_column.selected:hover {
    background: #004ad3;
}

.pos_column:hover {
    background: #002569;
}

.pos_column h1:hover {
    cursor: pointer;
}

.pos_column h1:hover, .pos_column.selected h1 {
    color: #fff;
}

.head_player {
    display: flex;
    width: 525px;
    background: #272b30;
}

.head_player h1 {
    font-size: 1.4em;
    margin-top: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #abaeaa;
    text-align: center;
}

.head_player .selected_hero_list {
    height: 275px;
    width: 97px;
    margin: 0;
}

.head_player .selected_hero_list .hero_button {
    display: block;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.95);
    z-index: 2;
    cursor: pointer;
}

.overlay .generated_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.filter {
    display: flex;
}
