<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ "spectre.min.css" | relURL }}">
        <link rel="stylesheet" type="text/css" href="{{ "portfolio.css" | relURL }}">
    </head>
<body>
    <div class="header">
        <ul class="columns nav_bar">
            <li class="d-inline-block"><a href="/">HOME</a></li>
            <li class="d-inline-block"><a href="/blog">BLOG</a></li>
            <li class="d-inline-block"><a href="/portfolio">PORTFOLIO</a></li>
            <li class="d-inline-block"><a href="/contact">CONTACT</a></li>
        </ul>
        <div class="centered">
            <div class="title">
                <h1 class="text-center">THOMAS LEROY</h1>
                <h3 class="text-center">portfolio</h3>
            </div>
        </div>
    </div>